# OS dependent files
Thumbs.db
.DS_Store

# IDE dependent files
.idea
.vscode

# Runtime dependent files
.anchor
.local-ledger

local-ledger
node_modules
test-ledger
target/debug
target/release
target/build
target/sbf-solana-solana
target/.rustc_info.json
.yarn
*.gz
*.log
**/*.rs.bk
